<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <link rel="alternate stylesheet" type="text/css" href="resource://gre-resources/plaintext.css"
      title="Wrap Long Lines">
  </head>
  <body>
    <pre>&lt;html&gt;
  &lt;head&gt;
    &lt;meta content="text/html; charset=windows-1252" http-equiv="content-type"&gt;
    &lt;link rel="alternate stylesheet" type="text/css" href="resource://gre-resources/plaintext.css"

      title="Wrap Long Lines"&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;pre&gt;&amp;lt;html&amp;gt;
  &amp;lt;head&amp;gt;
    &amp;lt;meta  content="text/html; charset=windows-1252"  http-equiv="content-type"&amp;gt;
    &amp;lt;link  rel="alternate stylesheet"  type="text/css"  href="resource://gre-resources/plaintext.css"

       title="Wrap Long Lines"&amp;gt;
  &amp;lt;/head&amp;gt;
  &amp;lt;body&amp;gt;
    &amp;lt;pre&amp;gt;
h2 { color: green; margin-left: 20px; font-family: 'Arial', sans-serif;} 
h1 { color: purple; margin-left: 20px; font-family: 'ComicSans', sans-serif;} 
li { color: #777777;} 
th {background-color: black; color: white; padding: 15px; border: 1px solid black;} 
td { color: black; padding: 15px; text-align: left; border: 1px solid black;} 
table { background-color: white; border: 1px solid black;}
tr:hover {background-color: grey}&amp;lt;/pre&amp;gt;
  &amp;lt;/body&amp;gt;
&amp;lt;/html&amp;gt;
&lt;/pre&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>
  </body>
</html>
