<link href="https://fonts.googleapis.com/css?family=Diplomata+SC" rel="stylesheet">
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}

html {
        background: #663b21;
        -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 480px) {
        body {
                background: #759248;
                background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/382210/ss_514b29122aaa40e86129883fe3a5ddaebb50af51.600x338.jpg");
                background-size:cover;
                color: #391d5e;
                font-family: 'Diplomata SC', cursive;
                font-size: 16vm;
                line-height: 1.25;
                margin: 0 auto;
                max-width: 800em;
                padding: 3em 3em 4em;
        }
}

fieldset {
        border-style: solid;
        border-color: #391d5e;
        background: #759248;
        border-top-width: 20px;
}

boxed {
        border-style: solid;
        border-bottom-width: 5em;
        border-color: red;
}

@media screen and (min-width: 480px) {
        h1, h2, h3, h5, h6 {
                font-family: 'Diplomata SC', cursive;
                color: #8a4a22;
                text-shadow:
                        -1px -1px 0 #000,
                        1px -1px 0 #000,
                        -1px 1px 0 #000,
                        1px 1px 0 #000; 
                font-weight: 600;
                line-height: .50;
        }
}

h4 {
        color: #391d5e;
        font-family: 'Diplomata SC', cursive;
        font-size: 16vm;
        text-shadow:
                -1px -1px 1 #000,
                1px -1px 1 #000,
                -1px 1px 1 #000,
                1px 1px 1 #000; 
}

h2 {
        margin-top: 1.3em;
    }

a {
        color: #391d5e;
}

b, strong {
        font-weight: 600;
}